.app_purple_theme {
    --bg-color: #f9f4fb;
    --inverted-bg-color: #d864ff;
    --primary-color: #436bfd;
    --secondary-color: #1cd0fd;
    --inverted-primary-color: #fbf4fb;
    --inverted-secondary-color: #fbf4fb;
}
